/* Configuració de la codificació de caràcters */
@charset "utf-8";

/* Definició de tipus de lletra */
@font-face {
  font-family: "Normal";
  font-style: normal;
  font-weight: normal;
  src: url("/tipus/nk-normal.woff2") format("woff2"),
       url("/tipus/nk-normal.woff") format("woff");
}

@font-face {
  font-family: "Cursiva";
  font-style: normal;
  font-weight: normal;
  src: url("/tipus/nk-cursiva.woff2") format("woff2"),
       url("/tipus/nk-cursiva.woff") format("woff");
}

@font-face {
  font-family: "Semi";
  font-style: normal;
  font-weight: normal;
  src: url("/tipus/nk-semi.woff2") format("woff2"),
       url("/tipus/nk-semi.woff") format("woff");
}

/* Estils globals */
:root {
  --fons: #F5F1EB;
  --text: #303031;
  --color: #c43c20;
  --farciment: 30px;
  --midaTipus: 22px;
  --altLinia: 1.4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  font-family: "Normal", sans-serif;
  font-size: var(--midaTipus);
  line-height: var(--altLinia);
  color: var(--text);
  font-feature-settings: 'onum';
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--text) var(--fons);
}

body {
  min-height: 100dvh;
  background-color: var(--fons);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Capçalera */
header.capPagina {
  flex-shrink: 0;
  padding-top: var(--farciment);
  width: calc(100% - 2 * var(--farciment));
  margin: auto;
  font-family: "Semi";
  font-size: max(22px, 1.526vw);
  letter-spacing: -0.04em;
  line-height: .7;
  display: flex;
  justify-content: space-between;
}

svg.logo {
  width: 60px;
  height: auto;
  fill: var(--text);
}

/* Contingut principal */
main.cosPagina {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

div.contingut {
  width: calc(100% - 6 * var(--farciment));
  margin: auto;
  display: flex;
  /* flex-direction: row-reverse; */
  gap: calc(3 * var(--farciment));
}

div.figura {
  flex: 1 0 calc(50% - (3 * var(--farciment)));
}

div.text {
  flex: 1 0 50%;
}

h1 {
  font-size: 0;
  position: absolute;
  left: -9999px;
}

p {
  margin-bottom: 1em;
  letter-spacing: -0.05em;
}

p.cita {
  text-align: right;
}

em {
  font-family: "Cursiva";
  text-transform: lowercase;
}

/* El ninot */
svg.ninot {
  max-height: 100%;
  max-width: 350px;
  fill: var(--text);
  margin: -.5rem auto 0;
}

svg.ninot .color {
  fill: var(--color);
}

/* Peu de pàgina */
footer.peuPagina {
  position: relative;
  width: 100%;
  height: 45px;
  overflow: hidden;
}

footer.peuPagina::after {
  position: absolute;
  bottom: 0;
  content: '';
  width: 5px;
  height: 45px;
  background-color: var(--color);
  left: 50%;
  transform: translateX(-50%);
}

footer.peuPagina p {
  margin-left: var(--farciment);
  font-size: 90%;
  margin-bottom: 1em;
  letter-spacing: -0.05em;
}

/* Barra de desplaçament */
html::-webkit-scrollbar {
  width: 11px;
}

html::-webkit-scrollbar-track {
  background: var(--fons);
  border-radius: 9px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 6px;
  border: 3px solid var(--fons);
}

/* Responsiu */
@media only screen and (max-width: 734px) {
  body {
    height: auto;
    gap: 8vh;
  }

  header.capPagina,
  div.contingut,
  footer.peuPagina {
    width: 92%;
  }

  div.contingut {
    flex-direction: column;
    gap: 5vh;
  }

  svg.ninot {
    width: 61.8%;
    margin: 5vh auto 0;
  }

  footer.peuPagina {
    padding-bottom: 3vh;
  }

  footer.peuPagina p {
    margin-left: 4%;
    font-size: 80%;
  }

  footer.peuPagina::after {
    visibility: hidden;
  }
}
