@charset "UTF-8";
@font-face {
  font-family: 'IM FELL Great Primer PRO';
  src: url('../tps/IM_FELL_Great_Primer_PRO_Italic.woff2') format('woff2'), url('../tps/IM_FELL_Great_Primer_PRO_Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: url(../img/paper.png) repeat;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

body {
  position: relative;
  width: 92vw;
  height: 92vh;
  margin: 4vh 4vw;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.esquerra {
  width: 61.8%;
  min-height: 100%;
  margin: 0 2vw 0 0;
  background: url(../img/gorda.svg) no-repeat;
  background-position: center top;
}

.dreta {
  width: 38.2%;
  background: url(../img/textura.jpg) repeat;
  filter: drop-shadow(3px 3px 3px rgb(0 0 0 / 0.3));
}

h1 {
  padding-bottom: 0.8em;
}

p {
  padding-bottom: 0.5em;
}

span {
  white-space: nowrap
}

article {
  position: absolute;
  color: #333;
  font-family: 'IM FELL Great Primer PRO', serif;
  font-size: 1.6vw;
  -moz-font-feature-settings: "dlig", "ss01";
  -webkit-font-feature-settings: "dlig", "ss01";
  font-feature-settings: "dlig", "ss01";
}

.groc::before {
  position: absolute;
  background-size: 100% 100%;
  content: '';
  width: 3vw;
  height: 4.854vw;
  top: -1vw;
  right: 3vw;
  background-image: url(../img/a.svg);
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.3));
}

.groc {
  padding: 2.5vw;
  font-style: italic;
  line-height: 1.4;
}

@media (orientation: portrait) {
  body {
    height: 100%;
  }
  .container {
    flex-direction: column;
  }
  .esquerra, .dreta {
    width: 100%;
    margin-bottom: 2vw;
    min-height: 100%;
  }
  article {
    font-size: 4vw;
  }
  .groc::before {
    width: 9vw;
    height: 14.562vw;
    top: -3vw;
    right: 9vw;
  }
  .groc {
    padding: 10vw;
  }
}