@charset "UTF-8";

/* El reset del desgraciat */
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    height: 100%;
    display: grid;
}

html {
    background-color: #ded1bc;
    /*
    background: url(fons.svg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    */
    overflow-y: scroll;
}

body {
    padding: 5vw 0;
    font-family: 'Louize Display';
    font-weight: normal;
    font-style: normal;
    color: #212e43;
    font-size: 1.85vw;
    line-height: 1.618;
    font-variant-ligatures: common-ligatures discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

body::before {
    position: absolute;
    background-size: 100% 100%;
    content: '';
    --ample: 7vw;
    width: var(--ample);
    height: calc(var(--ample) * 1.618);
    top: 0;
    right: 4.5vw;
    background-image: url('lis.svg');
    -webkit-filter: drop-shadow(0.1vw 0.2vw 0.2vw rgb(0 0 0 / 0.4));
    filter: drop-shadow(0.1vw 0.2vw 0.2vw rgb(0 0 0 / 0.4));

    animation: lis 1.2s;
    animation-timing-function: ease-out;
}

@keyframes lis {
    0% {
        top: -30vh;        
    }
    100% {
        top: 0;        
    }
  }

.embolcall {
    margin: auto;
    /* Centrat vertical i horitzonal */
    width: 92%;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 4%;
}

article {
    flex: 61.8;
    display: flex;
    flex-direction: column;
}

aside {
    flex: 38.2;
}

article>* {
    flex: 1 100%;
}

h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 10vw;
    line-height: 1;
    /* color: #212e43; */
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    margin-top: .5em;
    margin-bottom: .25em;
}

svg.nihil {
    width: 100%;
    background: url(nihil.svg) 100% 100% no-repeat;
}

@media (orientation: portrait) {

    body {
        font-size: 5.5vw;
    }

    body::before {
        visibility: hidden;
    }

    .embolcall {
        flex-direction: column-reverse;
        row-gap: 10vh;
    }

    .embolcall>* {
        flex: 1 100%;
    }

    h1 {
        font-size: 17vw;
    }

    aside {
        padding: 0 15vw;
    }
}