@charset "utf-8";

@font-face {
  font-family: 'bloc';
  src: url('../tipus/bloc.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'neutra';
  src: url('../tipus/neutra.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --fons: #0F181F;
  --h1tx: #E74538;
  --text: #F8CEA6;
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--fons);
  font: normal normal calc(.6em + .9vw)/1.15 'neutra';
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}


body::before {
  position: absolute;
  content: '';
  width: 120px;
  height: calc(120px * 175 / 500);
  top: 2vw;
  right: 10vw;
  background: url(../imatges/gentlemen-logo.svg) center/contain no-repeat;
}

body {
  padding-top: calc(4vw + 1em);
}

main,
footer {
  width: 80vw;
  margin: 0 auto;
}

footer {
  padding-bottom: 2vw;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
}

.embolcall {
  display: flex;
  flex-direction: row;
  gap: 7vw;
}

.text {
  flex: 61.8;
  align-self: flex-end;
}

.motiu {
  flex: 38.2;
}

.motiu {
  width: 100%;
  background: url(../imatges/japo.jpg) top/contain no-repeat;
}

h1 {
  font: normal normal 2.5em/0.95 'bloc';
  color: var(--h1tx);
  padding-bottom: .2em;
}

p {
  padding-top: 1em;
  text-align: justify;
}

footer {
  font-size: 80%;
  text-align: right;
}

/* Barra desplaçament */

html::-webkit-scrollbar {
  width: 11px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--text) var(--fons);
}

html::-webkit-scrollbar-track {
  background: var(--fons);
  border-radius: 9px;
  -webkit-border-radius: 9px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 3px solid var(--fons);
}

@media only screen and (min-width: 735px) and (orientation: portrait) {
  html {
    height: auto;
  }

  body {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: calc(.6em + 1.2vw);
    gap: 8vh;
  }

  body::before {
    top: 3vh;
  }

  main,
  footer {
    width: 80%;
  }

  footer {
    padding-bottom: 3vh;
  }

  .embolcall {
    flex-direction: column;
  }

  .motiu, .text {
    flex: 1;
  }

  .motiu {
    margin-top: 6vh;
    min-height: 50vh;
  }
}

@media only screen and (max-width:734px) {
  html {
    height: auto;
  }

  body {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: calc(.6em + 2vw);
    gap: 8vh;
    padding-top: 10vh;
  }

  body::before {
    top: 3vh;
    right: 4%;
  }

  main,
  footer {
    width: 92%;
  }

  footer {
    padding-bottom: 3vh;
  }

  .embolcall {
    flex-direction: column;
  }

  .motiu, .text {
    flex: 1;
  }

  .motiu {
    min-height: 90vh;
    background-position: center center;
    background-size: 75%;
  }

  h1 {
    text-align: center;
  }
}