@charset "UTF-8";

:root {
    --negre: #1b1b13;
    --or: #bc9d58;
    --blanc: #fafafa;
    --marge: 10%;
    --ample-logo: 32vw;
    --alt-logo: calc(var(--ample-logo) * calc(1693 / 1107));
}

/* El reset del desgraciat */
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    background-color: var(--blanc);
}

body {
    font-family: 'Lou';
    font-weight: normal;
    font-style: normal;
    color: var(--negre);
    font-size: 2vw;
    line-height: 1.2;
    font-variant-ligatures: common-ligatures discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    display: grid;
}

body::before {
    position: absolute;
    /*
    background-size: 100% 100%;
    */
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    --ample: 8vw;
    width: var(--ample);
    height: calc(var(--ample) * 1.618);
    top: 0;
    right: var(--marge);
    -webkit-filter: drop-shadow(0.1vw 0.1vw 0.1vw rgb(0 0 0 / 0.3));
    filter: drop-shadow(0.1vw 0.1vw 0.1vw rgb(0 0 0 / 0.3));
}

div.embolcall {
    width: calc(100% - (var(--marge) * 2));
    margin: auto;
}

div.logo,
article {
    margin: 3vw 0;
    height: var(--alt-logo);
}

article {
    position: relative;
}

article>footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

div.logo {
    width: calc(var(--ample-logo) + 4vw);
    float: left;
    background-image: var(--nena);
    /* background-size: var(--ample-logo) var(--alt-logo); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    shape-margin: 1.6em;
}

@-moz-document url-prefix() {
    div.logo {
        shape-margin: 1.2em;
    }
}

p {
    margin: 0.5em 0;
    text-align: justify;
}

span {
    white-space: nowrap;
}

svg.quant {
    width: 40vw;
    fill: var(--negre);
}

svg.quant .groc {
    fill: var(--or);
}

/* Barra desplaçament */

html::-webkit-scrollbar {
    width: 11px;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--negre) var(--blanc);
}

html::-webkit-scrollbar-track {
    background: var(--blanc);
    border-radius: 9px;
    -webkit-border-radius: 9px;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--negre);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 3px solid var(--blanc);
}


/* Per polir */

@media (orientation: portrait) {

    html {
        overflow-y: scroll;
    }

    body {
        font-size: 5.5vw;
    }

    body::before {
        --ample: 15vw;
        width: var(--ample);
        height: calc(var(--ample) * 1.618);
        top: 0;
        right: var(--marge);
    }

    .embolcall {
        width: 90vw;
        margin: 0 auto;

    }

    div.logo,
    article {
        margin: 0;
        width: 100%;
    }

    div.logo {
        float: none;
        shape-outside: none;
        width: 100%;
        background-size: 80% 80%;
        background-position: center center;
        min-height: 100vh;
    }

    svg.quant {
        width: 100%;
    }

    article {
        padding-bottom: 5vw;
        margin-bottom: 5vw;
    }

    article>footer {
        position: relative;
        padding: 3vw 0;
        text-align: right;
    }
}

@media (min-width: 768px) and (orientation: portrait) {

    body {
        font-size: 3vw;
    }
}
