@charset "UTF-8";

@font-face {
  font-family: 'tipus';
  src: url('tipus.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  background: url(textura.jpg) repeat;
  padding: 1%;
}

body {
  color: #333;
  font-family: 'tipus', serif;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  font-size: 1.5vw;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  text-shadow: 0 1px 0 white;
  position: relative;

}

.embolcall,
.portada,
.full {
  min-height: 100%;
}

.embolcall {
  display: flex;
  flex-direction: row;
}

.portada,
.full {
  background: url(paper.png) repeat;
  border-radius: .5vw;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;

}

.portada {
  padding: 2vw 8vw 2vw 2vw;
  border-right: 1px dashed #a19a9a34;
  box-shadow: rgba(0, 0, 0, 0.15) -.1vw .1vw .1vw;
}

.full {
  padding: 2vw 2vw 2vw 8vw;
  box-shadow: rgba(0, 0, 0, 0.15) .1vw .1vw .1vw;
  counter-reset: paragraf;
}

.full::before {
  position: absolute;
  background-image: url(lis.svg);
  background-size: 100% 100%;
  content: '';
  width: 4vw;
  height: 6.472vw;
  top: -.7vw;
  right: 4vw;
  filter: drop-shadow(.1vw .1vw .1vw rgb(0 0 0 / 0.4));
}

svg.figura {
  display: block;
  width: 25%;
  height: auto;
  margin: 0 auto;
  background-image: url(copa.svg);
  filter: drop-shadow(0 1px 0 white);
  -webkit-filter: drop-shadow(0 1px 0 white);
}

.farciment {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  margin: 0.67em 0;
  color: #444;

  text-align: center;
}

h2 {
  font-size: 1em;
  letter-spacing: .2em;
  text-transform: lowercase;
  font-variant: small-caps;
}

h3,
h4 {
  padding: 1vw 0 1vw 0;
  font-size: 1em;
  text-transform: lowercase;
  font-variant: small-caps;
}

h3 span {
  font-variant: normal;
}

p {
  margin-bottom: 0.7em;
}

p::before {
  counter-increment: paragraf;
  content: counter(paragraf);
  position: absolute;
  display: block;
  margin-left: -3vw;
}

.cap,
.peu {
  padding: 1vw 0;
}

.peu {
  flex-shrink: 0;
  text-align: center;
}

@media (orientation: portrait) {

  html {
    padding: 1vh;
    overflow-y: scroll;
  }

  body {
    font-size: 4vw;
  }

  .embolcall {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }

  .portada,
  .full {
    width: 100%;
    min-height: 98vh;
    border-radius: .9vh;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0 .1vh .5vh;
    margin-bottom: 1vh;
  }

  .full::before {
    width: 6vh;
    height: 9.708vh;
    top: -1vh;
    right: 4vh;
  }

  .cap,
  .peu {
    padding: 1vh 0;
  }
  p::before {
    margin-left: -1em;
  }
}

@media (min-device-pixel-ratio: 2) {

    html {
        background-size: 50% 50%;
    }
  .portada, .full {
    background: url('paper_@2X.png') repeat;
  }
}