@charset "utf-8";

:root {
  --fons: #212121;
  --text-p: #EDD3B3;
  --text-h: #588B7E;
  --text-f: #26716B;
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--fons);
  font-size: calc(.6em + .7vw);
  font-family: 'sf';
  font-style: normal;
  font-weight: normal;
  color: var(--text-p);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

main, footer {
  width: 90%;
  margin: 0 auto;
}

header {
  width: clamp(15vw, 50%, 25vh);
  margin: auto;
  height: auto;
  padding-top: 3vw;
}

footer {
  padding-bottom: 2vw;
}

header>svg {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
}

.embolcall {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.titol,
.palla {
  flex: 1;
}

.palla {
  margin-top: -0.2em;
}

h1 {
  font-family: 'z';
  font-weight: normal;
  font-size: 4em;
  line-height: 0.95;
  color: var(--text-h);
  text-transform: uppercase;
  text-align: right;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
}

p {
  padding-bottom: .75em;
  line-height: 1.4;
  text-align: justify;
}

footer {
  font-size: 90%;
  color: var(--text-f);
  text-align: right;
}

/* Barra desplaçament */

html::-webkit-scrollbar {
  width: 11px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--text-f) var(--fons);
}

html::-webkit-scrollbar-track {
  background: var(--fons);
  border-radius: 9px;
  -webkit-border-radius: 9px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--text-f);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 3px solid var(--fons);
}

@media only screen and (max-width:734px) {
  html {
    height: auto;
  }
  
  body {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    /* padding: 3vh 2vh; */
    font-size: calc(.6em + 1.5vw);
    gap: 8vh;
  }

  main, footer {
    width: 96%;
  }

  header {
    padding-top: 5vh;
    width: clamp(15vw, 50%, 40vh);
  }

  footer {
    padding-bottom: 3vh;
  }

  .embolcall {
    flex-direction: column;
    gap: 8vh;
  }

  h1 {
    text-align: center;
  }
}